@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

i {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-bottom: 25px;
  background-color: rgba(220, 220, 220, 0.221);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 30px 3%;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  row-gap: 5px;
  right: 0;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav {
  display: none;
}

.left-section {
  width: fit-content;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.79);
}

.logo-span {
  color: rgb(98, 147, 244);
  /* font-style: italic; */
}

.middle-section {
  width: 35%;
}

.middle-section label {
  /* background-color: rgba(98, 147, 244, 0.1); */
  background-color: rgba(220, 220, 220, 0.215);
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
}

.middle-section label img {
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
}

.middle-section label input {
  border: none;
  background-color: transparent;
  flex: 1;
  padding: 12px;
  outline: none;
  font-size: 1rem;
}::placeholder {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}

.right-section {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-section img {
  width: 20px;
}

.account-container, .cart-container, .seller-container, .help-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color .4s;
}


.cart-quantity-cont {
  position: relative;
}

.cart-quantity-cont small {
  position: absolute;
  top: -15px;
  right: -12px;
  padding: 3px 7px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  border-radius: 20px;
  background-color: rgba(98, 147, 244, .8);
}

.account-container:hover, .cart-container:hover, .seller-container:hover, .help-icon:hover  {
  background-color: rgba(220, 220, 220, 0.4);
}


.top-categories-container {
  margin: 105px 0 0 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px 4%;
  column-gap: 7px;
  font-size: .9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.938);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

.top-categories-container a {
 text-decoration: none;
}
.top-categories-container a:hover {
  text-decoration: underline;
}

.top-category i {
  color: rgba(0, 0, 0, 0.3);
}

.product-container {
  display: flex;
  border-top: 1px solid gainsboro;
  padding: 40px 2%;
  background-color: rgb(255, 255, 255);
  column-gap: 6%;
}

.image-section {
  display: flex;
  align-items: start;
  column-gap: 20px;
  width: 70%;
}

.image-scroll {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  width: 15%;
}::-webkit-scrollbar {
  display: none;
}

.image-scroll img {
  border-radius: 5px;
  cursor: pointer;
  opacity: .75;
  border: 2px solid rgba(0, 0, 0, 0.651);
  width: 70px;
  height: 70px;
  object-fit: cover;
  transition: opacity .3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-scroll img:hover {
  opacity: 1;
}
 
.display-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  width: 80%;
}

.display-image .fa-heart {
  position: absolute;
  background-color: white;
  padding: 10px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.81);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  right: 15px;
  top: 8px;
  transition: box-shadow .3s;
  /* display: none; */
}

.display-image .fa-heart:hover, .display-image .fa-angle-left:hover , .display-image .fa-angle-right:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.display-image .fa-angle-left {
  left: 8px;
}

.display-image .fa-angle-right {
  right: 8px;
}

.display-image .fa-angle-left, .display-image .fa-angle-right {
  background-color: white;
  position: absolute;
  padding: 13px 18px;
  font-size: 1.6rem;
  transition: box-shadow .3s;
  color: rgba(0, 0, 0, 0.81);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.display-image-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.display-image img {
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  /* object-fit: cover; */
}

.product-details-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
  width: 35%;
}

.product-price {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.product-price h2 {
  margin: 0;
}

.product-price .price2 {
  font-size: .8rem;
  font-weight: 400;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.823);
}

.tax {
  font-size: .85rem;
}

.name {
  font-size: 1rem;
  letter-spacing: 1px;
}

.brand {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.brand span {
  font-size: .9rem;
  font-size: 600;
}

.company-name {
  font-weight: 600;
  font-size: .9rem;
}

.product-description, .shipping-policies {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: relative;
  cursor: pointer;
  /* padding-bottom: 35px; */
}

.description-note {
  position: absolute;
  bottom: 0;
  transition: backgroun-color .3s;
  left: 50%;
  padding: 10px;
  transform: translate(-50%);
  font-size: .75rem;
  border-radius: 50px;
  font-weight: 600;
}

.description-note:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.display  {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  margin-left: -20px;
  margin-bottom: -13px;
  border-radius: 50px;
  transition: background-color .2s;
}

.display:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.display span , .display i{
  font-weight: 600;
  font-size: 1.13rem;
}

.lines {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: .9rem;
  line-height: 20px;
  font-weight: 400;
  text-align: justify;
  width: 90%;
  color: rgba(0, 0, 0, 0.76);
}

.blurline {
  color: rgba(0, 0, 0, 0.38);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  row-gap: 20px;
}

.bottom-section button {
  background-color: black;
  border: none;
  padding: 15px;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity .3s;
}

.bottom-section button:hover {
  opacity: .8;
}

.shop-rating {
  font-size: .9rem;
}

.related-products-container {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
  background-color: white;
}

.related-products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 ;
}

.related-products-header h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.801);
  font-weight: 400;
}

.see-more i {
  font-size: 1.19rem;
  color: rgba(0, 0, 0, 0.801);
  background-color: white;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.81);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.related-product-grid {
  display: flex;
  gap: 15px;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

.related-product-container {
  position: relative;
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  cursor: pointer;
}

.related-product-container .fa-heart {
  position: absolute;
  background-color: white;
  padding: 6px;
  color: rgba(40, 40, 40, 0.858);
  /* font-family: "Ubuntu", sans-serif; */
  border-radius: 50%;
  right: 8px;
  top: 8px;
}

.related-product-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.related-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-size: .83rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.821);
  -webkit-box-orient: vertical;
  /* width: 200px */
}

.related-product-price {
  /* display: flex; */
  /* justify-content: space-between; */
}

.discount-price {
  /* color: rgb(66, 129, 255); */
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: .95rem;
}

.related-price {
  color: rgba(0, 0, 0, 0.651);
  font-size: .8rem;
  font-weight: 400;
  text-decoration: line-through;
}

.price-percentage {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.651);
  font-size: .8rem;
  font-weight: 400;
}

.price-percentage {
  margin-left: 10px;
  position: absolute;
  right: 2px;
  bottom: 0;
}

@media (min-width: 451px) and (max-width: 921px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 15px 3%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    row-gap: 5px;
    right: 0;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  nav {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  
  .left-section {
    width: fit-content;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.89);
  }
  
  .section .middle-section {
    display: none;
  }
  
  .right-section {
    width: fit-content;
  }
  
  .right-section img {
    width: 25px;
  }
  
  .seller-container, .help-icon {
    display: none;
  }

  nav .middle-section {
    width: 90%;
  }

  nav .middle-section label {
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 20px;
  }
  
  nav .middle-section label img {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .middle-section label input {
    border: none;
    background-color: transparent;
    flex: 1;
    padding: 15px;
    font-size: 1.2rem;
    outline: none;
  }::placeholder {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .account-container span , .cart-container span, .seller-container span {
    display: none;
  }

  .top-categories-container {
    margin: 135px 0 0 0;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 4%;
    column-gap: 7px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.938);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid gainsboro;
    padding: 40px 2%;
    background-color: rgb(255, 255, 255);
    row-gap: 25px;
    width: 100%;
  }
  
  .image-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
    row-gap: 25px;
  }
  
  .image-scroll {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
  }::-webkit-scrollbar {
    display: none;
  }
  
   
  .display-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  
  .display-image .fa-angle-left, .display-image .fa-angle-right {
    display: none;
  }
  
  .display-image-cont {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .display-image img {
    width: 75%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    /* object-fit: cover; */
  }
  
  .product-details-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
    width: 100%;
  }
  
  .bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 20px;
  }
  
  .bottom-section button {
    background-color: black;
    border: none;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .3s;
  }
  
  .bottom-section button:hover {
    opacity: .8;
  }
  
  .shop-rating {
    font-size: 1rem;
  }
  
  .related-products-container {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    background-color: white;
  }
  
  .related-products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 ;
  }
  
  .related-products-header h1 {
    margin: 0;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 400;
  }
  
  .see-more i {
    display: none;
  }
  
  .related-product-grid {
    display: flex;
    gap: 15px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .related-product-container .fa-heart {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 0, 0, 0.532);
  }
  
  .related-product-container img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }
}


@media (max-width: 450px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 15px 3%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    row-gap: 5px;
    right: 0;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  nav {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  
  .left-section {
    width: fit-content;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.89);
  }
  
  .section .middle-section {
    display: none;
  }
  
  .right-section {
    width: fit-content;
  }
  
  .right-section img {
    width: 25px;
  }
  
  .seller-container, .help-icon {
    display: none;
  }

  nav .middle-section {
    width: 90%;
  }

  nav .middle-section label {
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 20px;
  }
  
  nav .middle-section label img {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .middle-section label input {
    border: none;
    background-color: transparent;
    flex: 1;
    padding: 15px;
    font-size: 1.2rem;
    outline: none;
  }::placeholder {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .account-container span , .cart-container span, .seller-container span {
    display: none;
  }

  .top-categories-container {
    margin: 135px 0 0 0;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 4%;
    column-gap: 7px;
    font-size: .9rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.938);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid gainsboro;
    padding: 40px 2%;
    background-color: rgb(255, 255, 255);
    row-gap: 25px;
    width: 100%;
  }
  
  .image-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
    row-gap: 25px;
  }
  
  .image-scroll {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
  }::-webkit-scrollbar {
    display: none;
  }
  
   
  .display-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  
  .display-image .fa-angle-left, .display-image .fa-angle-right {
  display: none;
  }
  
  .display-image-cont {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .display-image img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    /* object-fit: cover; */
  }
  
  .product-details-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
    width: 100%;
  }
  
  .bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 20px;
  }
  
  .bottom-section button {
    background-color: black;
    border: none;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .3s;
  }
  
  .bottom-section button:hover {
    opacity: .8;
  }
  
  .shop-rating {
    font-size: .9rem;
  }
  
  .related-products-container {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    background-color: white;
  }
  
  .related-products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 ;
  }
  
  .related-products-header h1 {
    margin: 0;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 400;
  }
  
  .see-more i {
    display: none;
  }
  
  .related-product-grid {
    display: flex;
    gap: 15px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .related-product-container .fa-heart {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 0, 0, 0.532);
  }
  
  .related-product-container img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }


}


.hide {
  display: none
}